[Unit]
Description=AGL Voice Agent Service
After=network.target

[Service]
ExecStart=/usr/bin/voiceagent-service run-server --config /etc/default/voice-agent-config.ini
Restart=always

[Install]
WantedBy=multi-user.target
