[Unit]
Description=uhmi AGL window manager
After=agl-compositor.service

[Service]
Type=simple
User=agl-driver
Environment=XDG_RUNTIME_DIR=/run/user/1001
EnvironmentFile=-/etc/default/uhmi-agl-wm
ExecStart=/usr/bin/uhmi-agl-wm
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
