[Unit]
Description=ula-node
Requires=uhmi-agl-wm.service
After=uhmi-agl-wm.service

[Service]
Type=simple
User=agl-driver
Environment=XDG_RUNTIME_DIR=/run/user/1001
ExecStart=/usr/bin/ula-node
TimeoutStopSec=10
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
